<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <% if (typeof(tweets) !== 'undefined') { %>
            <% tweets.forEach((tweet) => { %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p><strong>@<%= tweet.username %></strong> - <%= moment(tweet.createdAt).format("LL, LTS") %></strong></p>
                        <p><%= tweet.message %></p>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>